window {
    color: black;
    font: 10pt "Comic Sans";
    font-weight: normal;
}

grid {
    margin: 15px;
    padding: 5px;
    border: 2px solid #1A237E;

}

headerbar {
    background-image: image(#1A237E);
    background-color: #1A237E;
    color: #BBDEFB;
}

headerbar button {
    padding: 3px;
    margin: 3px;
    background-image: image(#1A237E);
    background-color: #1A237E;
    border: 0.2px solid #BBDEFB;
    border-radius: 5px;
    color: #BBDEFB;
}

headerbar button:hover {
    background-image: image(#82B1FF);
    background-color: #82B1FF;
    border: 0.2px solid #BBDEFB;
    border-radius: 5px;
    color: #BBDEFB;
}

button {
    font: 14pt "Comic Sans";
    padding: 5px;
    margin: 0px;
    background-image: image(#BBDEFB);
    background-color: #BBDEFB;
    border-radius: 5px;
}

button:hover {
    background-image: image(#82B1FF);
    background-color: #82B1FF;
    font-weight: bold;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.8), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.labelHora {
    background-color: #E3F2FD;
    font: 24pt "Comic Sans";
    font-weight: normal;
    padding: 5px;
    margin: 5px;
    border: 0.1px solid black;
}

.frameTimbres {
    padding: 5px;
    margin: 5px;
    /*border: 0.1px solid black;*/
}

.frameTimbres label {
    color: #1A237E;
    font: 16pt "Comic Sans";
    font-weight: bold;
}

.timbre {
    padding: 3px;
    margin: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    background-color: #E3F2FD;
    border: 0.1px solid black;
}

.timbre label {
    color: grey;
    font: 10pt "Comic Sans";
    font-weight: normal;
}

.timbreactual {
    background-color: #EDE7F6;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.8), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
}

.timbreactual label {
    color: red;
    font: 14pt "Comic Sans";
    font-weight: bold;
}

.alerta {
    color: red;
}

.turno0 {
    background-color: #E8EAF6;
}

.turno1 {
    background-color: #E3F2FD;
}